<!DOCTYPE html>
<html>
<head>
    <style>
        .left h3, .left h4 {
            display: inline-block;
            margin-right: 45px;
        }
        .right h4 {
            margin-right: 45px;
        }
    </style>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_header.css') }}">
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color: #990000;">
        <div class="left">
            <h3 style="color:white" id="head">Dashboard</h3>
            <a href=><h4 style="color:white" id="head">Orders</h4></a>
            <a href="#"><h4 style="color:white" id="head">Products</h4></a>
        </div>
        <div class="right">
            <a href="#"><h4 style="color:white" id="head">log off</h4></a>
        </div>
    </nav>
    <main>
        <nav class="navbar navbar-light">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </form>
        </nav>

    </main>
</body>
</html>




