{% extends "master.html" %}

{% block title %}Product Page{% endblock %}

{% block content %}

{% include "header.html" %}

<div class="container">

<div class="row mt-3">
<div class="col-4">
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                        <div class="row">
                                <form action="/process_search" method="POST">
                                        <input class="col-7" type="search" placeholder="Product Name">
                                        <button class="col-4 ml-1 btn btn-outline-success" type="submit">Search</button>
                                </form>
                        </div>
                        <h5 class="card-title mt-3">Categories</h5>
                        <div class="list-group">
                                {% for item in categories%}
                                <a href="/products/category/{{item['id']}}/1" class="list-group-item list-group-item-action">{{item['name']}}</a>
                                {%endfor%}
                        </div>
                </div>
        </div>
</div>
    <div class="col-8">
            <div class="card">
                    <div class="card-header">
                        <div class="row">
                                {% for item in categories%}
                                {% if catid==item['id']%}
                                <div class="col">
                                        <h4>{{item['name']}}</h4>
                                </div>
                                {%endif%}
                                {%endfor%}
                                <div class="col text-right">Sorted by
                                        <select class="card-header text-right" name="sorted_by">
                                        <option value="price">Price</option>
                                        <option value="popular">Most Popular</option>
                                        </select>
                                </div>
                        </div>
                    </div>
                    <div class="card-body">
                            {% for product in products %}
                            {% set image='img/'+racquet+'.jpg' %}
                            {% set image='img/product-'+product['image_id']+'.jpg' %}
                            <a href="/products/show/{{loop.index}}"><img src="{{url_for('static', filename=image)}}" alt="..." class="img-thumbnail" style="width:200px;height: 200px;"></a>
                            {%endfor%}
                    </div>
                    <div class="card-footer text-muted">
                        {% for i in range(1,4)%}
                                {% if i!=1%}
                                |
                                {%endif%}
                                {% if i!=pagenum%}
                                <a href="/products/category/{{catid}}/{{i}}">{{i}}</a>
                                {% else %}
                                {{i}}
                                {%endif%}
                        {%endfor%}
                    </div>
            </div>
    </div>




  </div>

    
</div>



</div>
</div>  
{%endblock%}            
