{% extends "master.html" %}

{% block title %}Shopping Cart{% endblock %}

{% import 'macros.html' as macros %}

{% include "header.html" %}

{% block content %}
{{ macros.showflashes(category=['error'], alert_type='alert-danger') }}

<div class="row mt-3">
    <div class="col ml-5">
        {% call macros.card(title='Product Name') -%}
        <!-- <img src="{{url_for('static', filename='img/wilson_racquet.jpg')}}" alt="product" style="height: 400px;"> -->
        <img src="/static/img/{{product.product_image}}" alt="{{product.name}}"  id="big_product_image" style="height: 400px; width: 400px;">
        {%- endcall %}
        {% for image in product_images %}
        <img src="{{url_for('static', filename='img/'+image['imagefile'])}}" alt="racquet" class="product_thumbnail" style="height: 100px;">
        {%endfor%}
    </div>
    <div class="col mr-5">
        {% call macros.card(title='Product Description') -%}
        <p>{{ product.description }}</p>
        {%- endcall %}
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
    {{ macros.showflashes(category=['success'], alert_type='alert-success') }}
    <form action="/add_to_cart/{{productid}}" method="POST">
        <div class="form-group row mt-3">
            <div class="col py-2 text-right">
                <p style="margin-right: 5px;"> Amount <select name="amount">Amount
                    {% for i in range(1, 5) %}
                    {% set price = i*product_price %}
                    <option value="{{i}}">{{i}} (${{price}})</option>
                    {% endfor %}
                </select></p>
                <p></p>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </form>
    </div>
</div>



{%endblock%}
{% block morescripts %}

<script>
$('.alert').fadeOut(2500);
</script>

<script>
    $(".product_thumbnail").click(function(){
        var all_images = $(".product_thumbnail");
        for (var i=0; i<=all_images.length-1; i++){
            if (this == all_images[i]) {
                $(this).css("border", "1px solid blue");
                var img_src = $(this).attr("src");
                $("#big_product_image").attr("src", img_src);
            }
            else{
                $(all_images[i]).css("border", "");
            }
        }
        
    });
</script>
{%endblock%} 